:root {
  font-family: helvetica;
  text-align: center;
}
h1 {
  text-align: center;
  color: var(--tg-theme-text-color);
}

h4 {
  color: var(--tg-theme-text-color);
}

img {
  height: 10vh;
  width: auto;
}

#store {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.item {
  border: 1px black solid;
  border-spacing: 5px;
  border-radius: 20px;
  padding: 10px;
  background-color: var(--tg-theme-hint-color);
}

button {
  background-color: var(--tg-theme-button-color);
  color: var(--tg-theme-button-text-color);
}
