:root {
  font-family: helvetica;
  text-align: center;
  margin: 0;
  padding: 0;
}

* {
  touch-action: manipulation;
  /* box-sizing: content-box; */
}

body {
  position: relative;
}
h1 {
  text-align: center;
  color: var(--tg-theme-text-color);
}

h4 {
  color: var(--tg-theme-text-color);
}

#store img {
  height: 10vh;
  width: auto;
}

#store {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
  z-index: 1;
}

.item {
  padding: 10px;
  position: relative;
}

.item-desc {
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}

.item-name {
  margin-bottom: 5px;
}

.item-price {
  margin-bottom: 5px;
}

button {
  border: none;
  border-radius: 8px;
  font-size: 20px;
  width: auto;
  height: 30px;
  //line-height: 26px;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  background-color: var(--tg-theme-button-color);
  /* background-color: purple; */
  color: var(--tg-theme-button-text-color);
}

@keyframes buttonPress {
  0% {
    background: var(--tg-theme-button-color);
  }
  25% {
    background: #3cf86d;
  }
  75% {
    background: #3cf86d;
  }
  100% {
    background: var(--tg-theme-button-color);
  }
}

#add {
  display: block;
}

#minus-plus {
  display: none;
  justify-content: space-evenly;
}

#minus-plus > button {
  position: relative;
}

#minus {
  width: 30px;
  height: 30px;
  margin: 0;
  background-color: #db2d2d;
}

#plus {
  width: 30px;
  height: 30px;
  margin: 0;
}

#minus > h5 {
  transform: translate(-50%, -55%);
  font-size: 24px !important;
}

#plus > h5 {
  transform: translate(-50%, -55%);
  font-size: 20px !important;
}
#cart {
  display: none;
  z-index: 3;
  //height: 100vh;
  position: absolute;
  top: 10vh;
  background-color: var(--tg-theme-bg-color);
  /* border: 3px solid grey; */
  border-radius: 8px;
}

.cart-item {
  position: relative;
  display: grid;
  grid-template-columns: 20% 10% 40% 15% 10%;
  width: 96vw;
  //justify-content: space-evenly;
  /* background-color: ; */
  border: 2px solid var(--tg-theme-hint-color);
  border-radius: 8px;
  margin-bottom: 1em;
}

.cart-item > h4:last-child {
  text-align: left;
}

.cart-item img {
  margin: 0;
  position: relative;
  top: 50%;
  left: 80%;
  transform: translateY(-50%);
}

.count {
  display: none;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  color: var(--tg-theme-text-color);
  background-color: var(--tg-theme-button-color);
  /* background-color: purple; */
  //border: 2px solid var(--tg-theme-button-color);

  border-radius: 50%;
}

h5 {
  margin-top: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  // margin-right: -50%;
  transform: translate(-50%, -50%);
  padding: 0;
}
